Language:        Cpp
BasedOnStyle:    LLVM
BreakBeforeBraces: Attach
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit:     150
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Left
Standard: c++20
SpacesInAngles: Never
AllowShortFunctionsOnASingleLine: None