Language: Cpp
BasedOnStyle: LLVM
BreakBeforeBraces: Attach
UseTab: Always
IndentWidth: 4
TabWidth: 4
AccessModifierOffset: -4
ColumnLimit: 0
PointerAlignment: Left
DerivePointerAlignment: false
ReferenceAlignment: Left
Standard: c++20
SpacesInAngles: Never
AllowShortFunctionsOnASingleLine: Empty
NamespaceIndentation: All
SeparateDefinitionBlocks: Always
AllowShortBlocksOnASingleLine: Empty


---
Language: Json
BasedOnStyle: LLVM
IndentWidth: 2
BreakArrays: false