/resources/*
!/resources/data/
!/resources/data/**
/bin/
/CodeGenerator/bin/
/CodeGenerator/obj/

/build/
/build-*/
/vcpkg_installed/
/out/
/x64/
/.vs/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

/cmake-build-release-visual-studio/

*.user
*.suo
*.VC.db
*.VC.opendb
.idea/
imgui.ini
*.log

*.zip
*.7z

.codex/